<header>
    <div class="px-3 py-2 text-bg-dark border-bottom sticky-top">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <i class="bi bi-bootstrap fs-4"></i>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a routerLink="/home" class="nav-link text-white">
                <i class="bi bi-house fs-4 d-grid justify-content-center mb-1"></i>
                Home
              </a>
            </li>
            <li>
              <a routerLink="/register" class="nav-link text-white">
                <i class="bi bi-grid d-grid fs-4 mb-1 justify-content-center"></i>
                Register
              </a>
            </li>
            <li>
              <a routerLink="/employee" class="nav-link text-white">
                <i class="bi bi-person-circle fs-4 d-grid mb-1 justify-content-center"></i>
                Employees
              </a>
            </li>
            <li>
                <a routerLink="/about" class="nav-link text-white">
                    <i class="bi bi-person-arms-up fs-4 d-grid justify-content-center mb-1"></i>
                    About
                </a></li>
          </ul>
        </div>
      </div>
    </div>

    
